// Pagina8/src/components/SidePanel/SidePanel.scss
.side-panel {
    background-color: #004080;
    border-radius: 15px;
    flex-grow: 1;
    margin-left: 1rem;
    padding: 2rem;
    box-sizing: border-box;
}
