.header-container {
    width: 100%;
    padding: 5px 20px;
    background-color: #87CEFA;
    border: 2px solid black;
    border-radius: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap; // Permite que los elementos se envuelvan en varias líneas
}

.header-left {
    display: flex;
    align-items: center;
    flex: 1;
}

.header-title {
    position: relative;
    flex-grow: 1;
    text-align: center;
    h1 {
        font-size: 1.5rem;
        color: #000;
        margin: 0;
    }
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    .header-button {
        background-color: white;
        border: 2px solid #000;
        border-radius: 20px;
        padding: 10px 20px;
        margin-left: 10px;
        cursor: pointer;
        font-size: 1rem;
        font-weight: bold;
        color: #000;
        text-transform: uppercase;
    }
    .profile-icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-left: 10px;
    }
}

@media (max-width: 768px) {
    .header-title h1 {
        font-size: 1.2rem; // Ajusta el tamaño del texto para pantallas más pequeñas
    }

    .header-right {
        justify-content: flex-end; // Alinea a la derecha en pantallas pequeñas
    }

    .header-button {
        font-size: 0.8rem; // Ajusta el tamaño del botón para pantallas más pequeñas
        padding: 5px 10px;
    }

    .profile-icon {
        width: 40px; // Ajusta el tamaño del ícono de perfil para pantallas más pequeñas
        height: 40px;
    }
}

@media (max-width: 480px) {
    .header-container {
        flex-direction: column; // Apila los elementos verticalmente en pantallas muy pequeñas
    }

    .header-title {
        margin-bottom: 10px;
    }

    .header-right {
        justify-content: center; // Centra los botones en pantallas muy pequeñas
    }
}
